In [1]:
import pandas as pd
import h5py
import tables
from tqdm import tqdm

In [3]:
class Unigram(tables.IsDescription):
    w = tables.StringCol(20)
    freq  = tables.UInt64Col()
    m = tables.StringCol(20)


class Bigram(tables.IsDescription):
    w = tables.StringCol(20)
    freq  = tables.UInt64Col()
    m = tables.StringCol(20)

In [4]:
# Initialize the H5 file.
h5filename = "/home/ruben/Documents/GitHub/NOSMining/ngrams/1grams.h5"
filters = tables.Filters(complevel=9, complib="blosc", fletcher32=False)
h5f = tables.open_file(h5filename, mode="w", title="NOS Unigrams", filters=filters)
bigrams_table = h5f.create_table("/", "unigrams", Unigram, "Unigrams Table")

In [5]:
unigram, rows = bigrams_table.row, 0
for i,ngram in df.iterrows():
    unigram["w"] = ngram['ngram']
    unigram["freq"] = ngram['frequency']
    unigram["m"] = ngram['month']

    unigram.append()
    rows += 1
    if rows % 100000 == 0:
        h5f.flush()
        print("{:d} ngrams written...".format(rows))

h5f.root.unigrams.cols.w.create_index()
h5f.root.unigrams.cols.m.create_index()

h5f.flush()
h5f.close()

100000 ngrams written...
200000 ngrams written...
300000 ngrams written...
400000 ngrams written...
500000 ngrams written...
600000 ngrams written...
700000 ngrams written...
800000 ngrams written...
900000 ngrams written...
1000000 ngrams written...
1100000 ngrams written...
1200000 ngrams written...
1300000 ngrams written...
1400000 ngrams written...
1500000 ngrams written...
1600000 ngrams written...
1700000 ngrams written...
1800000 ngrams written...
1900000 ngrams written...
2000000 ngrams written...
2100000 ngrams written...
2200000 ngrams written...
2300000 ngrams written...
2400000 ngrams written...
2500000 ngrams written...
2600000 ngrams written...
2700000 ngrams written...
2800000 ngrams written...
2900000 ngrams written...
3000000 ngrams written...
3100000 ngrams written...
3200000 ngrams written...
3300000 ngrams written...
3400000 ngrams written...
3500000 ngrams written...
3600000 ngrams written...

In [31]:
pd.read_hdf(h5filename,'unigrams',where='w=rutte')

/home/ruben/.local/lib/python3.8/site-packages/pandas/io/pytables.py:3462: IncompatibilityWarning:
where criteria is being ignored as this version [0.0.0] is too old (or
not-defined), read the file in and write it out to a new file to upgrade (with
the copy_to method)

  warnings.warn(ws, IncompatibilityWarning)

     freq        m     rfreq      w
0       1  2010-01  0.000005  rutte
1      16  2010-02  0.000084  rutte
2      20  2010-03  0.000098  rutte
3      30  2010-04  0.000145  rutte
4     117  2010-05  0.000549  rutte
..    ...      ...       ...    ...
133   263  2021-02  0.000530  rutte
134   325  2021-03  0.000599  rutte
135   459  2021-04  0.000956  rutte
136   227  2021-05  0.000506  rutte
137   227  2021-05  0.000506  rutte

[138 rows x 4 columns]

In [2]:
import json
with open('metadata.json','r') as f:
    md = json.load(f)

In [5]:
list(md.keys())[90000]

'html/2018-08-25-18.html'

In [6]:
md['html/2018-08-25-18.html']

{'categories': ['Binnenland'],
 'date': '25-08-2018, 13:18',
 'date_edited': None,
 'title': 'Waarom Nederland absolute grootmacht is op gebied van xtc en speed  '}